/* cv specific things */
#publications #publication_list{
	padding-left:10px;
	list-style: none;
	counter-reset: mycounter;
}
#publications #publication_list < li{
	counter-increment:mycounter;
}
#publications #publication_list li{
	padding:5px;
	position:relative;
}
#publications li::before{
	content: "[" counter(mycounter) "] ";
	counter-increment:mycounter;
	font-weight: bold;
	position:absolute;
	--size: 10px;
	left: calc(-1 * var(--size) - 10px);
}
#publications #publication_list #pub_item div{
	display:inline;
}

