body {
	margin:8% 11%;
}

header{
	text-align:right;
}
header #title{
	text-align:left;
	font-size:24px;
	background:#0CF;
	color:#FFF;
	padding:5px 10px;
	margin:5px 0px;
}

.section{
	display: grid;
  	grid-template-columns: repeat(20, 1fr);
}
.section:first-of-type{
	margin-top:25px;
}
.section:after { 
	width:100%;
        grid-column:1/end;	
	margin:25px 0px;  
	height:1px; 
	background: #000; 
	content:"" 
}
.section:last-of-type:after{
	background: #FFF;
}

.section .title{
	color:rgb(100,100,100);
	grid-column: 1/3;
}
.section .data{
	text-align:justify;
	display:inline;
	grid-column: 4/end;
}
.section .data ul{
	margin:0;
	padding-left:20px;
}

