/* common formatting */
body {
	margin:3% 5%;
	font-family: Arial;
	font-size:10pt;
}
/* header info */
header{text-align:right;}
/* contact layout */
.contact .email,.phone{display:inline;}
.contact .email::after{content:" | ";}
/* name layout */
.name .first,.last{display:inline;} 
.name .first::after{content:" ";}
header #title{
	text-align:left;
	font-size:16pt;
	background:var(--accent-color);
	color:var(--text-color);
	padding:5px 10px;
	margin:5px 0px;
	text-transform: uppercase;
}

/* common section formatting */
.section{
	display: grid;
  	grid-template-columns: repeat(20, 1fr);
	grid-column-gap:5px;
}
.section:first-child{margin-top:1.2em;}
.section:not(:last-child):after { 
	width:100%;
        grid-column:1/end;	
	margin:15px 0px;  
	height:2px; 
	background: var(--accent-color); 
	content:"" 
}

/* section info*/
.section .title{
	color:var(--accent-color);
	font-size:10pt;
	grid-column: 1/4;
	text-transform: uppercase;
	word-break:break-all;
}
.section .data{
	text-align:justify;
	display:inline;
	margin-right:15px;
	grid-column: 4/end;
}
.section .data ul{
	margin:0;
	padding-left:0px;
	list-style-type:none;
}
.section .data ul li{
	font-weight: bold;
	padding-bottom:5px;
}
.section .data ul li ul{
	padding-left:40px;
	list-style-type:circle;
	padding-right:15%;
}
.section .data ul li ul li{
	font-weight: normal;
	padding-bottom:0px;
}

/*Section specific css*/
#skills li{
	font-weight: normal;
}
