/* common formatting */

body {
	margin:3% 5%;
	font-family: calibri;
	font-size:.9em;
}
/* header info */
header{
	text-align:right;
}
/* contact things */
header #contact #email{display:inline;}
header #contact #email::after{content:" | ";}
header #contact #phone{display:inline;}
/* name things */
header #title #name #first{display:inline;}
header #title #name #first::after{content:" ";}
header #title #name #last{display:inline;}
header #title{
	text-align:left;
	font-size:1.8em;
	background:var(--accent-color);
	color:var(--text-color);
	padding:5px 10px;
	margin:5px 0px;
	text-transform: uppercase;
}

/* common section formatting */
.section{
	display: grid;
  	grid-template-columns: repeat(20, 1fr);
}
.section:first-of-type{
	margin-top:1.2em;
}
.section:not(:last-child):after { 
	width:100%;
        grid-column:1/end;	
	margin:25px 0px;  
	height:2px; 
	background: var(--accent-color); 
	content:"" 
}

/* section info*/
.section .title{
	color:var(--accent-color);
	font-size:1em;
	grid-column: 1/3;
	text-transform: uppercase;
	word-break:break-all;
}
.section .data{
	text-align:justify;
	display:inline;
	grid-column: 4/end;
}
.section .data ul{
	margin:0;
	padding-left:0px;
	list-style-type:none;
}
.section .data ul li{
	font-weight: bold;
	padding-bottom:5px;
}
.section .data ul li ul{
	padding-left:40px;
	list-style-type:circle;
	padding-right:15%;
}
.section .data ul li ul li{
	font-weight: normal;
	padding-bottom:0px;
}

/*Section specific css*/
#skills li{
	font-weight: normal;
}
/* education formatting */
#education #degree_type{display:inline;font-variant: small-caps;}/*text-transform: uppercase;}*/
#education #degree_type::after{content:" | ";}
#education #degree{display:inline;font-variant: small-caps;}/*text-transform: uppercase;}*/
#education #degree::after{content:"";display:block;}
#education #institution{display:inline;}
#education #institution::after{content:", "}
#education #city{display:inline; } #education #city::after{content:", "}
#education #state{display:inline; } #education #state::after{content:", "}
#education #country{display:inline; } 
#education #date,#gpa{display:none;}
/* experience formatting */
#experience < li{font-size:0px;}
#experience li div{font-size:0.9em;}
#experience #title{display:inline;font-variant:small-caps;}
#experience #title::after{content:", ";}
#experience #employer{display:inline;font-variant:small-caps;}
#experience #employer::after{content:" (";}
#experience #start{display:inline;}
#experience #start::after{content:"-";}
#experience #stop{display:inline;}
#experience #stop::after{content:")";}
#experience li div:first-child{font-variant: small-caps;}
#experience #city,#state,#country{display:none;}

